doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    title menu
    link(rel="stylesheet" href="../lib/normalize.css")
    link(rel="stylesheet" href="../lib/foundation.min.css")
    link(rel="stylesheet" href="styles.css")
    script(src="../lib/modernizr.js")
    script(src="../lib/jquery.js")
    script(src="../lib/underscore-min.js")
    script(src="../lib/backbone-min.js")
    script(src="../lib/jade-runtime.js")
    script(src="collections/scrollable.js")
    script(src="templates/actions.js")
    script(src="templates/behavior-traits.js")
    script(src="templates/behaviors.js")
    script(src="templates/brands.js")
    script(src="templates/segments.js")
    script(src="templates/user-attributes.js")
    script(src="templates/user-attribute-sources.js")
    script(src="views/scrollable.js")
    script(src="views/flyout.js")
    script(src="views/lhn.js")

  body
    nav.top-bar#top-bar

    nav#lhn

      .dock
        a(href="#" data-flyout-id="brands-flyout").icon Dashboard
        a(href="#" data-flyout-id="behaviors-flyout").icon Behaviors
        a(href="#" data-flyout-id="user-attributes-flyout").icon User Attributes
        a(href="#" data-flyout-id="segments-flyout").icon Segments
        a(href="#" data-flyout-id="actions-flyout").icon Actions
        a(href="#inspect").icon Inspect

      .flyout#brands-flyout
        .cellular
          span.icon Brands
          a(href="#add-brand") Add
          a(href="#brands") View all
        .scrollable#brands-scrollable.open

      .flyout#behaviors-flyout
        .cellular
          a(href="#" data-scrollable-id="behaviors-scrollable").icon.open Behaviors
          a(href="#add-behaviors") Add
          a(href="#behaviors") View all
        .scrollable#behaviors-scrollable.open

        .cellular
          a(href="#" data-scrollable-id="behavior-traits-scrollable").icon Behavior Traits
          a(href="#add-behavior-traits") Add
          a(href="#behavior-traits") View all
        .scrollable#behavior-traits-scrollable

        a(href="#behavior-groups").icon Behavior Groups
        a(href="#channels").icon Channels

      .flyout#user-attributes-flyout
        .cellular
          a(href="#" data-scrollable-id="user-attributes-scrollable").icon.open User Attributes
          a(href="#add-user-attributes") Add
          a(href="#user-attributes") View all
        .scrollable#user-attributes-scrollable.open

        .cellular
          a(href="#" data-scrollable-id="user-attribute-sources-scrollable").icon User Attribute Sources
          a(href="#add-user-attribute-sources") Add
          a(href="#user-attribute-sources") View all
        .scrollable#user-attribute-sources-scrollable

      .flyout#segments-flyout
        .cellular
          span.icon Segments
          a(href="#add-segment") Add
          a(href="#segments") View all
        .scrollable#segments-scrollable.open

      .flyout#actions-flyout
        .cellular
          span.icon Actions
          a(href="#add-action") Add
          a(href="#actions") View all
        .scrollable#actions-scrollable.open

    .row
      .columns
        p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.

        p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.

        p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.

        p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.

        p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.

    script(src="../lib/foundation.min.js")
    script.
      $(document).foundation();

      new LhnView();
