html,
body,
#lhn {
  height: 100%;
}

.icon:before {
  display: inline-block;
  content: '✪';
}

#lhn {
  $dock-width: 72px;
  $flyout-width: 432px;
  $topbar-height: 45px;

  z-index: 1;
  position: fixed;
  top: $topbar-height;
  left: 0;

  a,
  span {
    display: block;
  }

  a:hover {
    background: whitesmoke;
  }

  .dock,
  .flyout {
    position: absolute;
    top: 0;
    height: 100%;
    background: white;
    box-shadow: 1px 1px 1px lightgray;
  }

  .dock {
    z-index: 3;
    width: $dock-width;
    left: 0;
    font-size: .75em;
    line-height: normal;
    text-align: center;

    a {
      padding: .5em 0;

      &.open {
        background: whitesmoke;
      }
    }

    .icon:before {
      display: block;
      font-size: 4em;
      line-height: 1em;
    }
  }

  .flyout {
    z-index: 2;
    width: $flyout-width;
    left: $dock-width - $flyout-width;
    transition: left .5s;

    &.open {
      left: $dock-width;
    }

    a,
    span,
    .scrollable {
      border-bottom: 1px solid gainsboro;
    }

    a,
    span {
      padding: .5em .75em;

      &:not(:first-child) {
        border-left: 1px solid gainsboro;
      }
    }

    .icon:before {
      margin-right: .25em;
    }
  }

  [data-scrollable-id] {
    &:after {
      content: '▸';
      margin-left: .25em;
    }

    &.open:after {
      content: '▾';
    }
  }

  .scrollable {
    display: none;
    overflow-y: auto;

    &.open {
      display: block;
    }

    > a,
    > .cellular :first-child {
      padding-left: 1.875em;
    }
  }

  .cellular > * {
    display: table-cell;

    &:first-child {
      width: 100%;
    }

    &:not(:first-child) {
      white-space: nowrap;
    }
  }
}
