@charset "UTF-8";
html,
body,
#lhn {
  height: 100%; }

.icon:before {
  display: inline-block;
  content: '✪'; }

#lhn {
  z-index: 1;
  position: fixed;
  top: 45px;
  left: 0; }
  #lhn a,
  #lhn span {
    display: block; }
  #lhn a:hover {
    background: whitesmoke; }
  #lhn .dock,
  #lhn .flyout {
    position: absolute;
    top: 0;
    height: 100%;
    background: white;
    box-shadow: 1px 1px 1px lightgray; }
  #lhn .dock {
    z-index: 3;
    width: 72px;
    left: 0;
    font-size: .75em;
    line-height: normal;
    text-align: center; }
    #lhn .dock a {
      padding: .5em 0; }
      #lhn .dock a.open {
        background: whitesmoke; }
    #lhn .dock .icon:before {
      display: block;
      font-size: 4em;
      line-height: 1em; }
  #lhn .flyout {
    z-index: 2;
    width: 432px;
    left: -360px;
    transition: left .5s; }
    #lhn .flyout.open {
      left: 72px; }
    #lhn .flyout a,
    #lhn .flyout span,
    #lhn .flyout .scrollable {
      border-bottom: 1px solid gainsboro; }
    #lhn .flyout a,
    #lhn .flyout span {
      padding: .5em .75em; }
      #lhn .flyout a:not(:first-child),
      #lhn .flyout span:not(:first-child) {
        border-left: 1px solid gainsboro; }
    #lhn .flyout .icon:before {
      margin-right: .25em; }
  #lhn [data-scrollable-id]:after {
    content: '▸';
    margin-left: .25em; }
  #lhn [data-scrollable-id].open:after {
    content: '▾'; }
  #lhn .scrollable {
    display: none;
    overflow-y: auto; }
    #lhn .scrollable.open {
      display: block; }
    #lhn .scrollable > a,
    #lhn .scrollable > .cellular :first-child {
      padding-left: 1.875em; }
  #lhn .cellular > * {
    display: table-cell; }
    #lhn .cellular > *:first-child {
      width: 100%; }
    #lhn .cellular > *:not(:first-child) {
      white-space: nowrap; }
