html,
body,
nav {
  height: 100%;
}

nav {
  position: fixed;
  background: white;
  box-shadow: 1px 1px 1px lightgray;
  line-height: normal;

  a,
  span,
  .scrollable {
    display: block;
    box-sizing: border-box;
  }

  a:hover {
    background: whitesmoke;
  }

  span {
    color: dimgray;
  }

  .cellular > * {
    display: table-cell;
    width: 100%;

    &:not(:first-child) {
      white-space: nowrap;
    }
  }

  [data-scrollable-id] {
    &:after {
      content: '▸';
      margin-left: .25em;
    }
    &.open {
      &:after {
        content: '▾';
      }
    }
  }

  .scrollable {
    display: none;
    overflow-y: auto;

    &.open {
      display: block;
    }

    > a,
    .cellular :first-child {
      padding-left: 2em;
    }
  }
}

.primary-nav {
  z-index: 2;
  width: 72px;
  text-align: center;
  font-size: .75em;

  a {
    position: relative;
    padding: 4.25em 0 .5em;
    min-height: 72px;

    &.open {
      background: lightcyan;
    }
  }

  .icon:before {
    position: absolute;
    content: '✪';
    font-size: 4em;
    left: .375em;
    top: 0;
  }
}

.secondary-nav {
  z-index: 1;
  width: 432px;
  left: -360px;
  transition: left .5s;

  &.open {
    left: 72px;
  }

  a,
  span,
  .scrollable {
    border-bottom: 1px solid lightgray;
  }

  a,
  span {
    padding: .75em 1em;
  }

  span,
  [data-scrollable-id].open,
  .scrollable a {
    border-bottom-color: whitesmoke;
  }

  span,
  [data-scrollable-id] {
    border-right: 1px solid lightgray;
  }

  .scrollable > :last-child a {
    border-bottom: none;
  }

  .icon:before {
    display: inline-block;
    content: '✪';
    width: 1em;
  }
}
