html,
body,
nav {
  height: 100%;
}

nav {
  position: fixed;
  background: white;
  box-shadow: 1px 1px 1px lightgray;
  line-height: normal;

  a,
  .scrollable {
    border-width: 0 0 1px;
    border-style: solid;
    border-color: lightgray;
  }

  a {
    display: block;
    box-sizing: border-box;

    &:hover {
      background: whitesmoke;
    }
  }

  .cellular a {
    display: table-cell;
    width: 100%;

    &:last-child {
      white-space: nowrap;
    }
  }

  [data-scrollable-id] {
    border-width: 0 1px 1px 0;

    &:before {
      content: '▸';
    }
    &.open {
      border-width: 0 1px 0 1px;

      &:before {
        content: '▾';
      }
    }
  }

  .scrollable {
    display: none;
    overflow-y: auto;

    &.open {
      display: block;
    }

    a {
      border-bottom-color: whitesmoke;

      &:first-child {
        padding-left: 2em;
      }
    }
  }
}

.primary-nav {
  z-index: 2;
  width: 72px;
  text-align: center;
  font-size: .75em;

  a {
    position: relative;
    padding: 4.25em 0 .5em;
    min-height: 72px;

    &.open {
      background: lightcyan;
    }
  }

  .icon:before {
    position: absolute;
    content: '✪';
    font-size: 4em;
    left: .375em;
    top: 0;
  }
}

.secondary-nav {
  z-index: 1;
  width: 432px;
  left: -360px;
  transition: left .5s;
  font-size: .875em;

  &.open {
    left: 72px;
  }

  a {
    padding: .75em 1em;
  }

  .icon:before {
    display: inline-block;
    content: '✪';
    width: 1em;
  }
}
